@page "/Shop"
@using Shard.Data
@inject GlobalData Data;
@inject NavigationManager Manager;
@inject ShopService ShopService;

<PageTitle>Мои Заказы</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Мои Заказы<MudIconButton @onclick="GoImport" Icon="@Icons.Material.Filled.ImportExport"
                                                                     aria-label="import"/>
</MudText>
@if (Data.ActiveShard != null)
{
    @if (_shop != null)
    {
        <MudChip T="string" @onclick="() => _shop = null" Color="Color.Primary">Все магазины</MudChip>
    }
    @foreach (var shop in _shops)
    {
        <MudChip T="string" @onclick="() => { _shop = shop; OpenOrder(FilteredOrders.FirstOrDefault()); }" Color="@(_shop == shop ? Color.Secondary : Color.Primary)">@shop.Name</MudChip>
    }
    <br/>
    <br/>
    <MudGrid Spacing="2" Justify="Justify.Center">
        <MudItem>
            @foreach (var order in FilteredOrders)
            {
                <MudCard Class="@CardClass(order)">
                    <MudCardContent>
                        <MudText Typo="Typo.h5">@_shops.Single(x => x.Id == order.ShopId).Name <span class="order-card-price">@order.Price ₽</span></MudText>
                        <MudText Typo="Typo.body2">@order.CreatedAt.ToLongDateString() @order.CreatedAt.ToShortTimeString()</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton @onclick="() => OpenOrder(order)" Variant="Variant.Text" Color="Color.Primary">Открыть</MudButton>
                    </MudCardActions>
                </MudCard>
                <br/>
            }
        </MudItem>
        <MudItem>
            @foreach (var item in _orderItems)
            {
                <MudCard Class="order-item-card">
                    <MudCardContent>
                        <MudText Typo="Typo.h6">@item.Name <span class="order-card-price">@(item.Price * item.Quantity) ₽</span></MudText>
                        <MudText Typo="Typo.body2">@item.Quantity шт <span class="order-card-price">@item.Price ₽ / шт</span></MudText>
                    </MudCardContent>
                </MudCard>
                <br/>
            }
        </MudItem>
    </MudGrid>
}
else
{
    <MudText Class="mb-8">Для начала работы выберите Shard файл</MudText>
}

<style>
    .order-card-price {
        float:right
    }
    
    .order-item-card {
        width: 500px;        
    }
    
    .order-card {
        background: none;
        width: 448px;
    }
    
    .order-card.open {
        background: var(--mud-palette-surface);
    }
    
</style>

@code {
    private List<Shop> _shops = [];
    private List<Order> _orders = [];
    private Order? _order = null;
    private Shop? _shop = null;
    private List<OrderItem> _orderItems = [];

    private string CardClass(Order order)
    {
        return "order-card" + (this._order == order ? " open" : "");
    }
    
    private void GoImport()
    {
        Manager.NavigateTo("Shop/Import");
    }

    private void OpenOrder(Order? order)
    {
        _order = order;
        if (order != null)
        {
            _orderItems = ShopService.GetOrderItems(order);
        }
        else
        {
            _orderItems = [];
        }
    }

    protected override void OnInitialized()
    {
        _shops = ShopService.GetShops();
        _orders = ShopService.GetOrders();
        OpenOrder(_orders.FirstOrDefault());        
    }
    
    
    
    private IEnumerable<Order> FilteredOrders =>
        _orders
            .Where(x =>
            {
                if (_shop == null) return true;
                return x.ShopId == _shop.Id;
            });

}
